---
layout: default
extra_includes:
  github: true

slogan: Coding, Automation, and DevOps Enthusiast

experience:
  - title: Technical Lead/Senior Software Engineer
    company: OnShift, Inc.
    timeframe: Sep 2017 - Apr 2019
    description:
      - Led a team of high-performant Software Engineers to rearchitect a major component of our legacy application into a more sustainable data model by slicing the application into gRPC microservices.
      - I drove the team to succeed by encouraging test-driven development, pair programming, and collaboration.
      - Acted as the team DevOps resource by establishing acceptable metrics for our applications, setting up alerts, and reporting the status on dashboards.
      - Collaborated with DBAs, Systems Engineers, and other Software Engineers to formulate the best solution(s) for any given problem.

  - title: Systems Engineer
    company: OnShift, Inc.
    timeframe: May 2016 - Sep 2017
    description:
      - Built out repeatable Kubernetes infrastructure using Ansible, Cloud Formation, and other AWS technologies.
      - Collaborated with other Systems Engineers and Software Engineers from multiple teams to build out a CI/CD solution and pipeline for the various applications.
      - Helped create a framework for new applications to standardize build and deployments.
      - Built dashboards in Grafana to report the status of infrastruture and applications.
      - Actively participated in a 24x7 on-call rotation.

  - title: Software Developer/DevOps Engineer
    company: OnShift, Inc.
    timeframe: Mar 2015 - May 2016
    description:
      - Migrated the marketing site from a third-party hosting platform to a self-hosted solution, automating the configuration of the servers using Ansible. Developed and maintained code responsible for integrating employee and punch clock data with many of our customers' time and attendance systems. Helped automate configuration of entire, hand-built application infrastructure using Ansible. Maintained Nagios configuration using Ansible and responsible for responding to Nagios alerts in a proactive manner.

  - title: Web Application Developer/Systems Analyst
    company: Performance Adminstration Corp.
    timeframe: May 2008 - Mar 2015
    description:
      - Actively developed and Maintained a web application that administers pre-paid maintenance plans and customer retention tools for the automotive industry.
      - Maintained the entire systems and network infrastructure that supports the application, including the company's internal servers and network.
      - "These devices and servers include: mail server, LAMP stack servers, DNS, print servers and printers, Samba server, FTP server, development server, workstations (including virtual machines), NAS, Bacula server, content filter, switches, routers, and firewall."

  - title: Development & Operations Team
    company: High Fidelity, Inc.
    timeframe: Mar 2014 - Sep 2014
    description:
      - Infrastructure design and implementation for Virtual Reality software. Assisted in implementing Continuous Integration using Github hooks, Jenkins, and Ansible. Relied heavily on Amazon Web Services for most of the company's infrastructure–more specifically EC2, EBS, ELB, VPC, RDS, S3, Route53, and Cloudwatch. Implemented a backup solution using Bacula.

  - title: Developer Operations Team
    company: Coffee & Power
    timeframe: Aug 2011 - Apr 2013
    description:
      - Infrastructure design and implementation, server management, virtual environment provisioning, application and database management, user administration.
      - Continuous Integration using Subversion hooks, Selenium, and Ansible.
      - Relied heavily on Amazon Web Services for most of the company's infrastructure–more specifically EC2, EBS, ELB, RDS, S3, and Route53.

  - title: Web Application Developer
    company: Logic Partners, Inc.
    timeframe: May 2005 - May 2008
    description:
      - Maintained several LAMP stack web applications and static websites, including a repair ticketing system for the railroad industry, an inventory/retail management system for a convenience store distributor, and several static websites for various local companies.

  - title: Residential Computer Consultant
    company: Kent State University - ResNet
    timeframe: Aug 2003 - Dec 2005
    description:
      - Assisted ResNet Helpdesk and ResNet offices by providing phone and walk-in support on personal computer, network, and Internet related questions.
      - Debugged various user-computing issues associated with hardware, software and wiring.
      - Assisted in the removal of viruses and spyware and ensured that the proper software updates are installed correctly.
      - Configured network switches for replacement of failed switches.

  - title: Computer Technician Intern
    company: Information Technology Department at Ashland University
    timeframe: 2002 - 2003
    description:
      - Installed and updated software and hardware.
      - Debugged software and hardware issues, including printers.
      - Assisted faculty and staff in emergency technology issues.

skillset:
  - Python
  - Postgres
  - Git
  - Docker
  - Kubernetes
  - DevOps
  - Jenkins
  - Ansible
  - RabbitMQ
  - gRPC
  - Linux
  - Bash
  - Amazon Web Services
  - Systems Administration
  - Grafana
  - Nagios
  #- Puppet
  #- Nginx
  #- Apache
  #- Network Administration
  #- PHP
  #- Ajax
  #- Javascript
  #- HTML
  #- Subversion
  #- Ubuntu
---
<section class="resume-wrap flat" style="background-color:#FFFFFF;">
  <div class="resume-container container">
    <div class="row">
      <div class="resume-inner col-xlg-6 offset-xlg-3 p-0">

					<!-- start resume header -->
					<header class="row resume-section-header">
						<div class="resume-bio col-md-8">
							<h1 class="resume-bio-title mt-2">{{ site.name }}</h1>
							<h2 class="resume-bio-tag mt-2"><small>{{ page.slogan }}</small></h2>
              <div class="row m-0 mt-2">
							<ul class="col-md-6 col-sm-12 m-0 p-0">
								<li><a href="mailto:{{ site.social_media.email }}" class="resume-bio-email"><i class="fas fa-envelope-square mr-1"></i> {{ site.social_media.email }}</a></li>
                <li><a href="tel:{{ site.social_media.phone }}"><i class="fas fa-phone-square mr-1"></i> {{ site.social_media.phone }}</a></li>
							</ul>
              <div class="col p-0"><div class="fas fa-home align-top mt-1"></div> <div class="d-inline-block">55 Mull Ave.<br/>Akron, OH 44313</div></div>
              </div>
							<ul class="resume-bio-social mx-0 my-2 d-print-none">
								<li><a href="https://linkedin.com/in/{{ site.social_media.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/{{ site.social_media.github }}" target="_blank"><i class="fab fa-github-square"></i></a></li>
								<li><a href="https://twitter.com/{{ site.social_media.twitter }}" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
							</ul>
						</div>
						<div class="col-md-4 offset-md-0 offset-sm-4 d-print-none">
							<img width="400" height="400" src="{{ site.avatar }}" class="resume-avatar wp-post-image" alt="Photo of Dan Schaefer" />
            </div>
					</header>
					<!-- end resume header -->

					<!-- start main -->
					<main class="resume-section-main">

													<!-- start objective -->
							<section class="row resume-objective-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Software Engineer</h4>
								</div>
								<p class="col-lg-9 resume-objective lead">
                  I bridge the gap between developers and operations by combining my unique skillsets in Software Engineering and Systems Administration to solve problems in a scalable, reliable way using software, automation, and processes.
                </p>
							</section>
							<hr>
							<!-- end objective -->

							<!-- start work experience wrap -->
							<section class="row resume-work-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Experience</h4>
								</div>
								<div class="col-lg-9">

								<!-- experience -->
                {% for exp in page.experience %}
									<div class="row resume-company-item">
									  <div class="col-md-8">
                      <h4 class="mt-1 resume-company-title">{{ exp.title }}</h4>
                      <h4 class="mt-2 font-italic"><small>{{ exp.company }}</small></h4>
										</div>
										<div class="mt-2 col-md-4 tar">
                      <p class="label label-resume">{{ exp.timeframe }}</p>
										</div>
                    <div class="col resume-exp-desc"><p>{{ exp.description | join:' ' }}</p></div>
									</div>
                {% endfor %}
								<!-- end experience -->

								</div>
							</section>

							<hr>
							<!-- end work experience wrap -->
													<!-- start skillset wrap -->
							<section class="row resume-skillset-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Skills/Tools</h4>
								</div>
								<div class="col-lg-9 resume-skillset-list-wrap">

									<!-- skillset 1 -->
									<div class="row">
										<div class="col-lg-12">

											<ul class="resume-skillset-list">
                        {% for skill in page.skillset %}
                        <li><i class="resumecon resumecon-check d-print-none"></i> {{ skill }}</li>
                        {% endfor %}
                      </ul>
										</div>
									</div>
									<!-- end skillset -->

								</div>
							</section>
							<hr>
							<!-- end skillset wrap -->
													<!-- start education wrap -->
							<section class="row resume-education-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Education</h4>
								</div>
								<div class="col-lg-9">

																			<!-- skillset 1 -->
										<div class="row resume-education-item">
											<div class="col-lg-12">
												<h4 class="zmt resume-education-title">Kent State University</h4>
												<h4 class="zmt resume-education-tag"><small>Bachelor of Science in Computer Science</small></h4>
												<p></p>
											</div>
										</div>
										<!-- end skillset -->
																			<!-- skillset 1 -->
										<div class="row resume-education-item">
											<div class="col-lg-12">
												<h4 class="zmt resume-education-title">Ashland University</h4>
												<h4 class="zmt resume-education-tag"><small>Studied Computer Science</small></h4>
												<p></p>
											</div>
										</div>
										<!-- end skillset -->
								</div>
							</section>
							<hr>
							<!-- end education wrap -->
													<!-- start github activity stream -->
							<section class="row resume-github-wrap no-print d-print-none">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Github Activity</h4>
								</div>
                                <div class="col-lg-9 github-activity"></div>
                                <script>
                                    Github.userActivity({
                                        username: "{{ site.social_media.github }}",
                                        selector: ".github-activity",
                                        limit: 10
                                    });
                                </script>
							</section>
							<hr class="d-print-none">
							<!-- end github activity stream -->
					</main>
					<!-- end main -->
				</div>
        </div>
  </div>
</section>
