---
layout: default
extra_includes:
  github: true

targetted_keywords: software engineer, senior software engineer, devops engineer, senior devops engineer, software developer, senior software developer, software engineer in cleveland, software engineer in akron, devops engineer in cleveland, devops engineer in akron, tech lead, technical lead, technical leader, tech lead in cleveland, technical lead in cleveland, technical leader in cleveland, tech lead in akron, technical lead in akron, technical leader in akron

full_name: Dan Schaefer
avatar: ./img/2019-dan-schaefer.jpg
#slogan: Coding, Automation, and DevOps Enthusiast
slogan: Senior Software Engineer
resume_title: Senior Software Engineer
work_area: Cleveland/Akron, OH
address: "Akron, OH"
#objective: I am a Software Engineer first with a specialty in implementing DevOps. I believe that DevOps is a culture and not a role or a team, and that Engineering teams should own their code, tests, builds, deployments, infrastructure, monitoring, and reliability of the applications they develop.
objective: I'm looking for opportunities as a hands-on Software Engineer or Team Lead to help drive a team of Engineers to efficiently deliver software by implementing Agile practices and a DevOps culture.
objective: "I'm looking for opportunities as a hands-on Senior Software Engineer or Team Lead to help drive a team of Engineers to efficiently deliver quality software by implementing best design practices, Agile methodologies, and a DevOps culture. Specialties: Python 2/3, PHP, RDBMS, microservices, Kubernetes, Docker, AWS, GCP, Terraform, Ansible, DevOps, Jenkins."

experience:
  - title: Senior Software Engineer
    company: BrightEdge Technologies, Inc.
    timeframe: May 2019 - present
    description:
      - Architect and implement features, systems, and microservices that optimize the effectiveness of our SEO Autopilot product using Python 2 for legacy systems and Python 3 for greenfield microservices.
      - Design and implement centralized Python 3 microservices running in Kubernetes and cloud functions to retrieve, process, and cache Google SERPs.
      - Implement and send emails to users with A/B testing in mind, showing the performance that SEO Autopilot brings to the customer's sites while helping to increase user engagement with the platform.
      - Act as a DevOps resource, Scrum Master, and coach for the Autopilot team and other product teams.
      - Mentor and manage Junior Developers and conduct code reviews for the team.

  - title: Technical Lead/Senior Software Engineer
    company: OnShift, Inc.
    timeframe: Sep 2017 - Apr 2019
    description:
      - Led a team of high-performing Software Engineers to rearchitect a major component of our legacy application written in Python 2 into a more sustainable data model by slicing the application into gRPC/Python 3 microservices.
      - I drove the team to succeed by encouraging test-driven development, pair programming, and collaboration.
      - Acted as the team DevOps resource by establishing acceptable metrics for our applications, setting up alerts, and reporting the status on internal dashboards.
      - Collaborated with DBAs, Systems Engineers, and other Software Engineers to formulate the best solution(s) for any problem my team had been given to solve.
      - Participated in several lunch-and-learn sessions, where I educated other engineers on the things I have learned in my day-to-day.

  - title: Systems Engineer
    company: OnShift, Inc.
    timeframe: May 2016 - Sep 2017
    description:
      - Built out repeatable Kubernetes infrastructure using Ansible, Cloud Formation, and other AWS technologies.
      - Collaborated with other Systems Engineers and Software Engineers from multiple teams to build out a CI/CD solution and build/test/deploy pipelines for the various applications.
      - Created a framework for new applications to standardize builds and deployments.
      - Built dashboards in Grafana to report the status of infrastructure and applications.
      - Actively participated in a 24x7 on-call rotation.

  - title: Software Developer/DevOps Engineer
    company: OnShift, Inc.
    timeframe: Mar 2015 - May 2016
    description:
      - Migrated the marketing site from a third-party hosting platform to a self-hosted solution, automating the configuration of the servers using Ansible.
      - Developed and maintained integration code for importing employee and punch clock data with many of our customers' time and attendance systems.
      - Expanded the infrastructure from a single web server to multiple, load-balanced web servers and celery workers for backend, asynchronous processors.
      - Automated provisioning and configuration of entire, hand-built application infrastructure using Ansible.
      - Maintained Nagios configuration using Ansible and responsible for responding to Nagios alerts in a proactive manner.

  - title: "Development & Operations Team"
    company: "Coffee & Power/High Fidelity, Inc."
    timeframe: Aug 2011 - Apr 2013, Mar 2014 - Sep 2014
    description:
      - Infrastructure design and implementation for Virtual Reality software.
      - Assisted in implementing Continuous Integration using Github hooks, Jenkins, and Ansible.
      - Relied heavily on Amazon Web Services for most of the company's infrastructure–more specifically EC2, EBS, ELB, VPC, RDS, S3, Route53, and Cloudwatch.
      - Implemented a backup solution using Bacula.
      - Continuous Integration using Subversion hooks, Selenium, and Ansible.

  - title: Web Application Developer/Systems Analyst
    company: Performance Administration Corp.
    timeframe: May 2008 - Mar 2015
    description:
      - Actively developed and maintained a web application that administers pre-paid maintenance plans and customer retention tools for the automotive industry.
      - Maintained the entire systems and network infrastructure that supports the application, including the company's internal servers and network.
      - "These devices and servers include: mail server, LAMP stack servers, DNS, print servers and printers, Samba server, FTP server, development server, workstations (including virtual machines), NAS, Bacula server, content filter, switches, routers, and firewall."

  - title: Web Application Developer
    company: Logic Partners, Inc.
    timeframe: May 2005 - May 2008
    description:
      - Developed and maintained a repair ticketing system for the railroad industry built on a LAMP stack.
      - Developed and maintained an inventory/retail management system for a convenience store distributor, integrating data from a mainframe system into a MySQL database for reporting and bi-directional syncing of said data.
      - Developed and maintained several static websites for various companies, including the company's own website.

  - title: Residential Computer Consultant
    company: Kent State University - ResNet
    timeframe: Aug 2003 - Dec 2005
    css_class: d-print-none
    description:
      - Assisted ResNet Helpdesk and ResNet offices by providing phone and walk-in support on personal computer, network, and Internet related questions.
      - Debugged various user-computing issues associated with hardware, software and wiring.
      - Assisted in the removal of viruses and spyware and ensured that the proper software updates are installed correctly.
      - Configured network switches for replacement of failed switches.

  - title: Computer Technician Intern
    company: Information Technology Department at Ashland University
    timeframe: 2002 - 2003
    css_class: d-print-none
    description:
      - Installed and updated software and hardware.
      - Debugged software and hardware issues, including printers.
      - Assisted faculty and staff in emergency technology issues.

education:
  - institution: Kent State University
    location: Kent, OH
    description: Bachelor of Science in Computer Science
    graduation_year: 2005
  #- institution: Ashland University
  #  location: Ashland, OH
  #  description: Studied Computer Science

skillset:
  - Software Architecture
  - Microservices
  - Python 2/3
  - PHP
  - Postgres
  - MySQL
  - Docker
  - Kubernetes
  - Ansible
  - Terraform
  - GCP
  - AWS
  - gRPC
  - Git
  - Jenkins
  - DevOps
  - Linux
  - Bash
  - Nagios
  - Grafana
  #- Nginx
  #- Celery
  #- RabbitMQ
  #- Puppet
  #- Apache
  #- Network Administration
  #- Ajax
  #- Javascript
  #- HTML
  #- Subversion
  #- Ubuntu
  #- Systems Administration
---
<section class="resume-wrap flat" style="background-color:#FFFFFF;">
  <div class="resume-container container">
    <div class="row">
      <div class="resume-inner col-xlg-6 offset-xlg-3 p-0">

					<!-- start resume header -->
					<header class="row resume-section-header">
						<div class="resume-bio col-md-8">
							<h1 class="resume-bio-title mt-2">{{ page.full_name }}</h1>
							<h2 class="resume-bio-tag mt-2"><small>{{ page.slogan }}</small></h2>
              <div class="row m-0 mt-2">
							<ul class="col-md-6 col-sm-12 m-0 p-0">
								<li><a href="mailto:{{ site.social_media.email }}" class="resume-bio-email"><i class="fas fa-envelope-square mr-1"></i> {{ site.social_media.email }}</a></li>
                <li><a href="tel:{{ site.social_media.phone }}"><i class="fas fa-phone-square mr-1"></i> {{ site.social_media.phone }}</a></li>
							</ul>
              <div class="col p-0"><div class="fas fa-home align-top mt-1"></div> <div class="d-inline-block">{{ page.address }}</div></div>
              </div>
							<ul class="resume-bio-social mx-0 my-2 d-print-none">
								<li><a href="https://linkedin.com/in/{{ site.social_media.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/{{ site.social_media.github }}" target="_blank"><i class="fab fa-github-square"></i></a></li>
								<li><a href="https://twitter.com/{{ site.social_media.twitter }}" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
							</ul>
						</div>
						<div class="col-md-4 offset-md-0 offset-sm-4 d-print-none">
							<img width="400" height="400" src="{{ page.avatar }}" class="resume-avatar wp-post-image" alt="Photo of Dan Schaefer" />
            </div>
					</header>
					<!-- end resume header -->

					<!-- start main -->
					<main class="resume-section-main">

							<!-- start objective -->
							<section class="row resume-objective-wrap">
								<div class="col-lg-3">
                  <h4 class="zmt resume-item-title">{{ page.resume_title }}</h4>
                  <div class="work-area">in the {{ page.work_area }} area</div>
								</div>
								<p class="col-lg-9 resume-objective lead">{{ page.objective }}</p>
							</section>
							<hr>
							<!-- end objective -->

							<!-- start work experience wrap -->
							<section class="row resume-work-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Experience</h4>
								</div>
								<div class="col-lg-9">

								<!-- experience -->
                {% for exp in page.experience %}
                <div class="row resume-company-item {{ exp.css_class }}">
									  <div class="col-md-8">
                      <h4 class="mt-1 resume-company-title">{{ exp.title }}</h4>
                      <h4 class="mt-2 font-italic"><small>{{ exp.company }}</small></h4>
										</div>
										<div class="mt-2 col-md-4 tar">
                      <p class="label label-resume">{{ exp.timeframe }}</p>
										</div>
                    <div class="col resume-exp-desc"><p>{{ exp.description | join:' ' }}</p></div>
									</div>
                {% endfor %}
								<!-- end experience -->

								</div>
							</section>

							<hr>
							<!-- end work experience wrap -->

							<!-- start skillset wrap -->
							<section class="row resume-skillset-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Skills/Tools</h4>
								</div>
								<div class="col-lg-9 resume-skillset-list-wrap">

									<!-- skillset 1 -->
									<div class="row">
										<div class="col-lg-12">

											<ul class="resume-skillset-list">
                        {% for skill in page.skillset %}
                        <li><i class="resumecon resumecon-check d-print-none"></i> {{ skill }}</li>
                        {% endfor %}
                      </ul>
										</div>
									</div>
									<!-- end skillset -->

								</div>
							</section>
							<hr>
							<!-- end skillset wrap -->

						  <!-- start education wrap -->
							<section class="row resume-education-wrap">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Education</h4>
								</div>
								<div class="col-lg-9">

                {% for edu in page.education %}
										<div class="row resume-education-item">
											<div class="col-lg-12">
                        <h4 class="zmt resume-education-title">{{ edu.institution }}</h4>
                        <h4 class="zmt resume-education-tag"><small>{{ edu.description }} - {{ edu.graduation_year }}</small></h4>
												<p></p>
											</div>
										</div>
                {% endfor %}
								</div>
							</section>
							<hr>
							<!-- end education wrap -->

							<!-- start github activity stream -->
							<section class="row resume-github-wrap no-print d-print-none">
								<div class="col-lg-3">
									<h4 class="zmt resume-item-title">Public Github Activity</h4>
								</div>
                                <div class="col-lg-9 github-activity"></div>
                                <script>
                                    Github.userActivity({
                                        username: "{{ site.social_media.github }}",
                                        selector: ".github-activity",
                                        limit: 10
                                    });
                                </script>
							</section>
							<hr class="d-print-none">
							<!-- end github activity stream -->
					</main>
					<!-- end main -->
				</div>
    </div>
  </div>
</section>
